* {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.link {
  color: Aquamarine;
  font-size: 16px;
}
p{
  color: gray;
  font-size: 21px;
}
h2{
  color: white;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}
div p{
  text-align: right;
}
